<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferramenta de Cálculo Tributário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/escolha_imposto.css') }}">
    <img class=".imglogo" src="{{ url_for('static', filename='img/dga.png') }}" width="220" height="100">
</head>

<body>
    <h1> Escolha qual tipo de imposto desejas calcular</h1>
    <form action="/simples_nacional" method="post">
        <button type="submit" > Simples Nacional </button>
    </form>

    <form action="/lucropresumido" method="post">
        <button type="submit" > Lucro Presumido </button>
    </form>

    <form action="/lucroreal" method="post">
        <button type="submit" > Lucro Real </button>
    </form>

    <form action="/icms" method="post">     
        <button type="submit" > ICMS </button>
    </form>

    <form action="/mei" method="post">
        <button type="submit" > MEI </button>
    </form>

    <form action="/compararimpostos" method="post">
        <button type="submit"> Calcular e Comparar Modalidades de Impostos (Lucro Presumido x Lucro Real x Simples Nacional) </button>
    </form>

</body>