<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferramenta de Cálculo Lucro Real</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/escolha_imposto.css') }}">
    <img class=".imglogo" src="{{ url_for('static', filename='img/dga.png') }}" width="220" height="100">
</head>

<body>
    <h1>Lucro Real - Informe a Renda Bruta e o Lucro Real da sua empresa </h1>

    <form action="/resultado_calculo_imposto_lucro_real" method="post">

        Selecione o periodo de avalaiação:
        <select name="periodo">
            <option value="Trimestral"> Trimestre </option>
            <option value="Anual"> Ano </option>
        </select>

        </br>
        </br>

        Digite aqui o valor total do Lucro da Empresa (De acordo com periodo escolhido, 3 ou 12 meses): <input type="number" name="lucro" maxlength="1000000000000000"/>

        </br>
        </br>

        Sua empresa e um banco, sociedade de créditos, corretora de títulos, empresas de arrendamento mercantil ou empresa de seguros ? Possui algum ganho de capital oriundo do exterior ?
        <select name="SimOuNao">
            <option value="Nao"> Não </option>
            <option value="Sim"> Sim </option>  
        </select>

    </br>
    </br>
    
    <button type="submit" > Enviar </button>

        </br>
        </br>

    </form>

</body>
</html>
