<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferramenta de Cálculo Lucro Real</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/escolha_imposto.css') }}">
    <img class=".imglogo" src="{{ url_for('static', filename='img/dga.png') }}" width="220" height="100">
</head>

<body>
    <h1>Lucro Real - Informe a Renda Bruta e o ramo da sua Empresa</h1>

    <form action="/resultado_calculo_imposto_lucro_real" method="post">

        Renda Bruta: <input type="number" name="renda_bruta" maxlength="1000000000000000"/>

        <button type="submit" > Enviar </button>

    </form>

</body>
</html>
