<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferramenta de Cálculo MEI, referete ao ano de 2024</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/escolha_imposto.css') }}">
    <img class=".imglogo" src="{{ url_for('static', filename='img/logo.png') }}" width="220" height="100">
</head>

<body>
    <h1> Qual sua atividade declarada no MEI?</h1>

    <form action="/resultado_calculo_imposto_mei" method="post">

        <select name="Atividades">
            <option value="0121101">CNAE: 0121101 - Viveirista independente</option>
            <option value="0159801">CNAE: 0159801 - Apicultor(a) independente</option>
            <option value="0159802">CNAE: 0159802 - Criador(a) de animais domésticos independente</option>
            <option value="0161002">CNAE: 0161002 - Prestador(a) de serviços de poda, sob contrato de empreitada, independente</option>
            <option value="0161003">CNAE: 0161003 - Prestador(a) de serviços de colheita, sob contrato de empreitada, independente</option>
            <option value="0161003">CNAE: 0161003 - Prestador(a) de serviços de preparação de terrenos, sob contrato de empreitada, independente</option>
            <option value="0161003">CNAE: 0161003 - Prestador(a) de serviços de roçagem, destocamento, lavração, gradagem e sulcamento, sob contrato de empreitada, independente</option>
            <option value="0161003">CNAE: 0161003 - Prestador(a) de serviços de semeadura, sob contrato de empreitada, independente</option>
            <option value="0162802">CNAE: 0162802 - Tosquiador(a) independente</option>
            <option value="0321304">CNAE: 0321304 - Criador(a) de peixes ornamentais em água salgada independente</option>
            <option value="0322104">CNAE: 0322104 - Criador(a) de peixes ornamentais em água doce independente</option>
            <option value="0892401">CNAE: 0892401 - Salineiro/extrator de sal marinho independente</option>
            <option value="1013901">CNAE: 1013901 - Fabricante de produtos derivados de carne independente</option>
            <option value="1013901">CNAE: 1013901 - Salsicheiro(a)/linguiceiro(a) independente</option>
            <option value="1031700">CNAE: 1031700 - Beneficiador(a) de castanha independente</option>
            <option value="1031700">CNAE: 1031700 - Compoteiro(a) independente</option>
            <option value="1031700">CNAE: 1031700 - Fabricante de amendoim e castanha de caju torrados e salgados independente</option>
            <option value="1031700">CNAE: 1031700 - Fabricante de conservas de frutas independente</option>
            <option value="1031700">CNAE: 1031700 - Fabricante de polpas de frutas independente</option>
            <option value="1032599">CNAE: 1032599 - Fabricante de conservas de legumes e outros vegetais independente</option>
            <option value="1033301">CNAE: 1033301 - Fabricante de sucos concentrados de frutas, hortaliças e legumes independente</option>
            <option value="1033302">CNAE: 1033302 - Fabricante de sucos de frutas, hortaliças e legumes independente</option>
            <option value="1052000">CNAE: 1052000 - Fabricante de laticínios independente</option>
            <option value="1052000">CNAE: 1052000 - Queijeiro(a)/ manteigueiro(a) independente</option>
            <option value="1061902">CNAE: 1061902 - Fabricante de produtos derivados do arroz independente</option>
            <option value="1063500">CNAE: 1063500 - Farinheiro de mandioca independente	</option>
            <option value="1064300">CNAE: 1064300 - Farinheiro de milho independente</option>
            <option value="1065101">CNAE: 1065101 - Fabricante de amido e féculas de vegetais independente</option>
            <option value="1069400">CNAE: 1069400 - Moendeiro(a) independente</option>
            <option value="1071600">CNAE: 1071600 - Fabricante de açúcar mascavo independente</option>
            <option value="1071600">CNAE: 1071600 - Fabricante de rapadura e melaço independente</option>
            <option value="1091101">CNAE: 1091101 - Fabricante de pão de queijo congelado independente</option>
            <option value="1091101">CNAE: 1091101 - Padeiro(a) independente</option>
            <option value="1091102">CNAE: 1091102 - Confeiteiro(a) independente</option>
            <option value="1092900">CNAE: 1092900 - Bolacheiro(a)/biscoiteiro(a) independente</option>
            <option value="1093701">CNAE: 1093701 - Chocolateiro(a) independente</option>
            <option value="1093702">CNAE: 1093702 - Fabricante de balas, confeitos e frutas cristalizadas independente</option>
            <option value="1094500">CNAE: 1094500 - Fabricante de massas alimentícias independente</option>
            <option value="1095300">CNAE: 1095300 - Fabricante de especiarias independente</option>
            <option value="1096100">CNAE: 1096100 - Fabricante de alimentos prontos congelados independente</option>
            <option value="1099601">CNAE: 1099601 - Vinagreiro independente</option>
            <option value="1099604">CNAE: 1099604 - Fabricante de gelo comum independente</option>
            <option value="1099605">CNAE: 1099605 - Fabricante de chá independente</option>
            <option value="1099699">CNAE: 1099699 - Fabricante de geléia de mocotó independente</option>
            <option value="1099699">CNAE: 1099699 - Fabricante de produtos de soja independente</option>
            <option value="1122403">CNAE: 1122403 - Fabricante de refrescos, xaropes e pós para refrescos independente</option>
            <option value="1220499">CNAE: 1220499 - Fabricante de fumo e derivados do fumo independente</option>
            <option value="1311100">CNAE: 1311100 - Fabricante de fios de algodão independente</option>
            <option value="1312000">CNAE: 1312000 - Fabricante de fios de linho, rami, juta, seda e lã independente</option>
            <option value="1321900">CNAE: 1321900 - Tecelão(ã) de algodão independente</option>
            <option value="1322700">CNAE: 1322700 - Tecelão(ã) independente</option>
            <option value="1340501">CNAE: 1340501 - Estampador(a) de peças do vestuário independente</option>
            <option value="1340599">CNAE: 1340599 - Bordadeiro(a) independente</option>
            <option value="1340599">CNAE: 1340599 - Customizador(a) de roupas independente</option>
            <option value="1351100">CNAE: 1351100 - Fabricante de artefatos têxteis para uso doméstico independente</option>
            <option value="">CNAE:  - </option>
            <option value="">CNAE:  - </option>
            <option value="">CNAE:  - </option>
            <option value="">CNAE:  - </option>
            <option value="">CNAE:  - </option>
            <option value="">CNAE:  - </option>
            <option value="">CNAE:  - </option>
            <option value="">CNAE:  - </option>
            <option value="">CNAE:  - </option>
            <option value="">CNAE:  - </option>
            <option value="">CNAE:  - </option>
            <option value="">CNAE:  - </option>
        </select>

        <h1> Qual valor do serviço ou produto ? </h1>

        Valor Produto ou Serviço = <input type="number" name="valor_produto_servico" maxlength="100000000000000"/>

        <button type="submit" > Enviar </button>

    </form>

</body>
</html>
