<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferramenta de Cálculo e Análise Tributária</title>
    <link rel="stylesheet" href="base.css">
</head>
<body>
    <h1>Informe a Renda Bruta da sua Empresa</h1>
    <form action="/resultados_calculos_imposto" method="post" >
        Renda Bruta: <input type="number" name="renda_bruta" maxlength="1000000000000000"/>
        <button type="submit" > Enviar </button>
    </form>
</body>
</html>
