<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado dos Impostos Lucro Presumido x Lucro Real x Simples Nacional</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/escolha_imposto.css') }}">
    <img class=".imglogo" src="{{ url_for('static', filename='img/DGA.png') }}"  width="220" height="100">
</head>

<body>
    <h1> Esse e o comparativo sobre os valores que você iria pagar em cada modalidade de imposto</h1>
    <p>O valor do imposto a ser pago nessa modalidade e de R$: {{ imposto_lucro_presumido }}</p>
    <p>O valor do imposto a ser pago nessa modalidade e de R$: {{ imposto_lucro_real }}</p>
    <p>O valor do imposto a ser pago nessa modalidade e de R$: {{ imposto_simples_nacional }}</p>
    
    <form action="/" method="get">
        <button type="submit"> Recalcular Imposto </button>
    </form>
    
</body>

</html>
